<div class="full-page administracion">
    <!-- Ventanas oculta de subida de viaje -->
    <div id="ventanaSubida" class="row justify-content-center formularioSubida d-none">
        <div class="formulario">
            <div class="col-12 d-flex justify-content-end">
                <img id="btn-salir" src="img/icon.png" alt="Salir" />
            </div>
            <div class="col-12">
                <h2 class="text-center">Agregar viaje</h2>
            </div>
            <hr />
            <!-- Agregamos el formulario con las opciones de cada viaje: viaje, descripcion, estado, precio, tipo -->
            <form action="/upviaje" method="post" class="row formul" enctype="multipart/form-data" >
                <!--VIAJE-->
                <div class="col-3"><p class="text-right"><b>Destino: </b></p></div>
                <div class="col-9">
                    <input type="text" name="viaje" maxlength="40" value="" placeholder="Introduce el destino" />
                </div>
                <!-- PRECIO -->
                <div class="col-3"><p class="text-right"><b>Precio: </b></p></div>
                <div class="col-9">
                    <input type="text" name="precio" maxlength="40" value="" placeholder="Introduce el precio" />
                </div>

                <!-- TIPO DE VIAJE: FAMILIAR, SOLITARIO, AVENTURERO -->
                <div class="col-3"><p class="text-right"><b>Tipo de viaje:</b></p></div>
                <div class="col-9">
                    <select name="tipoviaje">
                        <option value="familiar">Familiar</option>
                        <option value="solitario">Solitario</option>
                        <option value="Aventurero">Aventurero</option>
                    </select>
                </div>
                <!-- Estado -->
                <div class="col-3"><p class="text-right"><b>Estado del viaje:</b></p></div>
                <div class="col-9">
                    <select name="estado">
                        <option value="activo">Activo</option>
                        <option value="desactivado">Desactivo</option>
                    </select>
                </div>
                <!-- Descripcion -->
                <div class="col-3"><p class="text-right"><b>Descripcion: </b></p></div>
                <div class="col-9">
                    <input style="width:80%;height:10vh;" type="text" name="descripcion" placeholder="Escribe una breve descripcion" maxlength="200" />
                </div>
                <!-- SUBIDA DE IMAGEN -->
                <div class="col-3"><p class="text-right"><b>Imagen del viaje: </b></p></div>
                <div class="col-9">
                    <input type="file" name="archivo" />
                    <span>| Medida de imagen recomendadas: 640 x 500</span>
                </div>
                
                <!-- Boton de envio -->
                <div style="margin-top:3vh;" class="col-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">SUBIR VIAJE</button>
                </div>
            </form>
            
        </div>
    </div>
    <!-- ********************************** -->
    <!-- Pagina oculta de eliminar viaje -->
     <!-- Ventanas oculta de subida de viaje -->
    <div id="ventanaBorrar" class="row justify-content-center formularioEliminacion d-none">
        <div class="formularioEliminar">
            <div class="col-12 d-flex justify-content-end">
                <img id="btn-salirEliminar" src="img/icon.png" alt="Salir" />
            </div>
            <div class="col-12">
                <h2 class="text-center">Eliminar viaje</h2>
                <p class="text-center">Introduzca el ID del viaje que desea eliminar</p>
            </div>
            <hr />
            <form action="" method="POST">
                <div class="col-12 d-flex justify-content-center">
                    <input type="number" name="id" value="" placeholder="ID del viaje" />
                </div>
                <div class="col-12 d-flex justify-content-center" style="margin-top:2vh;">
                    <button type="submit" class="btn btn-danger">Eliminar viaje</button>
                </div>
            </form>
        </div>
    </div>
     <!-- **********************************-->
    <div class="container Panel">
        <div class="row">
            <div class="col-12 ">
                <h3 class="bold text-center">Bienvenido al area de administracion.</h3>
                <p class="mb-4 text-center">Desde aqui podras crear viajes o gestionar ya existentes.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-xl-12">
                <table class="table table-borderless table-hover shadow p-3 mb-5 bg-white rounded">
                    <thead class="table-info">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Viaje</th>
                            <th scope="col">Fechas</th>
                            <th colspan="2" scope="col">Descripcion</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Activado</th>
                        </tr>
                    </thead>
                    <tbody class="gard">
                        <!-- Dentro del cuerpo body instanciaremos los elementos de la tabla de la base de datos-->
                        {{#if arrayviajes.length}}
                        {{#each arrayviajes}}
                            <tr>
                                <td scope="row">{{id}}</td>
                                <td>{{viaje}}</td>
                                <td>No fecha</td>
                                <td colspan="2">{{descripcion}}</td>
                                <td class="d-flex justify-content-center">
                                    <img style="border:1px solid #000" width="20%" height="20%" src="img/{{ruta}}">
                                </td>
                                <td>{{precio}}</td>
                                <td>{{estado}}</td>
                                
                            </tr>
                        {{/each}}
                        {{else}}
                        <p>No hay viajes</p>
                        {{/if}}
                        <!-- Si no existen elementos en la base de datos-->
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a id="btn-subir" href="#"><button class="btn btn-primary">Agregar viaje</button></a>
                <a id="btn-borrar" href="#" style="margin-left:1vh;"><button class="btn btn-danger">Borrar viaje</button></a>
            </div>
        </div>
    </div>
</div>
