<div class="row bg-darkgray paddingTop20" id="cart">
    <div class="col-8 full-page item-list">
        <div class="row">
            <div class="col-12">
                <h3 class="marginLeft8"><b>Cesta</b></h3>
                <hr />
            </div>
        </div>
        <div class="row flex-nowrap">
            <div class="col-3 minWidth64">
                <p class="textAlignCenter"><b>Imagen</b></p>
                <hr />
            </div>
            <div class="col-6">
                <p class="textAlignLeft"><b>Descripcion</b></p>
                <hr />
            </div>
            <div class="col-3">
                <p class="textAlignLeft"><b>Precio</b></p>
                <hr />
            </div>
        </div>
        {{#if viajes.length}}
        {{#each viajes}}
        <div class="row item">
            <div class="col-3 d-flex justify-content-center">
                <div class="cartThumbnailImg">
                    <img src="img/{{ruta}}" class="img-responsive w-100 bordeSimple" />
                </div>
            </div>
            <div class="col-6">
                <div>
                    <h4>{{viaje}}</h4>
                    <p>{{descripcion}}</p>
                    
                    <form action="/addcart/{{id}}" method="POST">
                        Personas:
                        <select name="viajeros" id="myselect" onchange="this.form.submit()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <h3 class="f-red">{{precio}}EUR</h3>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <style>

    </style>
    <div class="col-4 datosCompra">
        <div class="row">
                <div class="col-12"><h3><b>Subtotal:</b></h3></div>
                <div class="col-12"><h4 class="f-red">EUR {{precio}}</h4></div>
                <div class="col-12"><p class="f-dimgray">*Se aplicara el 19%</p></div>
                <div class="col-12"><button class="btn btn-warning">Tramitar Pedido</button></div>
            
        </div> 
    </div>
</div>
