<div class="row" style="background-color:darkgray;padding-top:20vh;">
    <style>
        .item {
            margin: 3vh 0vh;
            min-height: 10vh;
            background-color: white;
        }

        .item-list {
            background-color: white;
            padding-top: 5vh;
        }
    </style>
    <div class="col-8 full-page item-list">
        <div class="row">
            <div class="col-12">
                <h3 style="margin-left:8vw"><b>Cesta</b></h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p style="text-align:center"><b>Imagen</b></p>
                <hr />
            </div>
            <div class="col-6">
                <p style="text-align:left"><b>Descripcion</b></p>
                <hr />
            </div>
            <div class="col-3">
                <p style="text-align:left"><b>Precio</b></p>
                <hr />
            </div>
        </div>
        {{#if viajes.length}}
        {{#each viajes}}
        <div class="row item">
            <div class="col-3 d-flex justify-content-center" style="">
                <div style="background-color:red;width:60%;border:1px solid #000">
                    <img src="img/{{ruta}}" style="width:100%" class="img-responsive" />
                </div>
            </div>
            <div class="col-6">
                <div>
                    <h4>{{viaje}}</h4>
                    <p>{{descripcion}}</p>
                    
                    <form action="/addcart/{{id}}" method="POST">
                        Personas:
                        <select name="viajeros" id="myselect" onchange="this.form.submit()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <h3 style="color:red">{{precio}}EUR</h3>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    <style>
        .datosCompra{
           padding:15vh 4vw;
           background-color:white;
        }
    </style>
    <div class="col-4  datosCompra">
        <div class="row">
                <div class="col-12"><h3><b>Subtotal:</b></h3></div>
                <div class="col-12"><h4 style="color:red">EUR {{precio}}</h4></div>
                <div class="col-12"><p style="color:dimgrey">*Se aplicara el 19%</p></div>
                <div class="col-12"><button class="btn btn-warning">Tramitar Pedido</button></div>
            
        </div> 
    </div>
</div>