<section id="sec-inicio" class="main full-page">
    <!-- Esta seccion del container contendra el header(menu)-> Con el logo, el menu y la seccion de social -->
    <div class="row header2 ">
        <div class="col-md-4"></div>
        <div class="col-md-6 d-none d-sm-block">
            <!-- Sobre este div colocaremos el titulo,el pseudotitulo, y el boton de ver destinos -->
            <div class="row">
                <div class="col-12">
                    <h1 class="f-blanco bold fuente-grande">Viaja!</h1>
                </div>
                <div class="col-12">
                    <h1 class="f-blanco  fuente-media">Descubre lugares maravillosos!</h1>
                </div>
                <div class="my-auto col-8 d-flex justify-content-center">
                    <button type="button" class="btn btn-warning btndestinos">Ver destinos</button>
                </div>
            </div>
        </div>
        <!-- Esta sera la descripcion para responsive -->
        <div class="col-md-6 d-block d-sm-none">
            <!-- Sobre este div colocaremos el titulo,el pseudotitulo, y el boton de ver destinos -->
            <div class="row">
                <div class="col-12">
                    <h1 class="f-blanco bold text-center">Viaja!</h1>
                </div>
                <div class="col-12">
                    <h1 class="light f-blanco  fuente-media text-center">Descubre lugares maravillosos!</h1>
                </div>
                <div class="my-auto col-12 d-flex justify-content-center">
                    <a href="#"></a>
                    <button type="button" class="btn btn-warning  ">Ver destinos</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>

<section id="sec-destinos" class="viajes full-page">
    <div class="container">
        <div class="row " style="min-height:100vh">
            <!-- SECCION DE VIAJES PARA DESKTOP -->
            <div class="col-md-12 d-none d-sm-block">
                <div class="row">
                    <!-- En esta seccion se autogeneran los distintos viajes
            cada columna correspondera a un viaje distinto, este por dentro contendra un div,
            que estara centrado tanto horizontal como verticalmente. -->
                    {{#if viajes.length}}
                    {{#each viajes}}

                    <div class="col-md-4  contenedor-viaje d-flex justify-content-center">
                        <div class="item-viaje my-auto">
                            <div class="row correccion">
                                <div class="col-12 bg-blue"><h5 class="text-center f-blanco font-title">{{viaje}}</h5></div>
                            </div>
                            <img src="img/{{ruta}}" class="img-responsive" alt="">
                            <div class="row viaje-descripcion">
                                <div class="col-md-8 my-auto vd">
                                    <h6 class="f-blanco">{{descripcion}}</h6>
                                </div>
                                <div class="col-md-4 bg-yellow">
                                    <div class="vp my-auto">
                                        <p class="f-blanco text-center">{{precio}}$</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                    {{else}}
                    <p>No existen viajes</p>
                    {{/if}}
                    <!--*****************GENERACION DE VIAJES************************-->

                </div>
            </div>
            <!--SECCION DE VIAJES PARA MOVIL-->
            <div class="col-12 my-auto  d-block d-sm-none m-carousel">
                <!-- Carousel -->
                <div id="carouselExampleControls" style="min-height:80vh" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {{#if viajes.length}}
                            {{#each viajes}}
                            <!-- Al primer objeto de los viajes le pasamos un parametro especifico-->
                                {{#if @first}}
                                <div class="carousel-item active">
                                    <!--  Box correspondiente a cada destino -->
                                    <div class="row">
                                        <div class="col-12 bg-blue mv-title"> <h3 class="text-center f-blanco">{{viaje}}</h3></div><!--Titulo destino-->
                                        <div class="col-12 pad0"><img src="img/{{ruta}}" class="img-responsive" alt="Alternate Text" /></div><!--Imagen del destino-->
                                        <!-- Descripcion y precio del destino-->
                                        <div class="col-12 mv-txt pad0">
                                            <div class="row">
                                                <div class="col-8 mv-des"><h5 class="f-blanco">{{descripcion}}</h5></div>
                                                <div class="col-4 mv-price"><h4 class="f-blanco text-center">{{precio}}$</h4></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                {{/if}}
                                <div class="carousel-item ">
                                    <!--  Box correspondiente a cada destino -->
                                    <div class="row">
                                        <div class="col-12 bg-blue mv-title"> <h3 class="text-center f-blanco">{{viaje}}</h3></div><!--Titulo destino-->
                                        <div class="col-12 pad0"><img src="img/{{ruta}}" class="img-responsive" alt="Alternate Text" /></div><!--Imagen del destino-->
                                        <!-- Descripcion y precio del destino-->
                                        <div class="col-12 mv-txt pad0">
                                            <div class="row">
                                                <div class="col-8 mv-des"><h5 class="f-blanco">{{descripcion}}</h5></div>
                                                <div class="col-4 mv-price"><h4 class="f-blanco text-center">{{precio}}$</h4></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {{/each}}
                        {{/if}}                      
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
       
    </div>


    </div>
</section>

<section id="qss" class="sec-quienessomos">
    <!--  Modificar con jquery-->
    <!-- Visible en todos menos en dispositivos pequeños-->
    <div class="row full-page  d-none d-sm-block">
        <div class="col-12 full-page my-auto">
            <!--El div tendra una imagen como fondo-->
            <div class="container-qs" style="margin-top:30vh;">
                <div class="row">
                    <div class="col-5 offset-1 qs">
                        <div class="row">
                            <div class="col-12"><h3>QUIENES SOMOS</h3></div>
                            <div class="col-12">
                                <p>
                                    GeekHubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros
                                    entusiastas que deciden hacer de su pasion por conocer el mundo un modo de vida.
                                    Desde nuestros inicios hemos planeado mas de 500 viajes organizados a diferentes
                                    destinos de Europa, Norteamerica y Asia.Nuestro objetivo ahora es ir ampliando horizontes
                                    poco a poco.
                                </p>
                            </div>
                            <div class="col-12 d-flex justify-content-center"><button type="button" class="btn btn-warning  ">Ver destinos</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Visible solo en dispositivos pequeños -->
    <div class="row  d-block d-sm-none">
        <div class="col-12 ">
            <!--El div tendra una imagen como fondo-->
            <div class="container-qs2">
                <div class="row">
                    <div class="col-12 qs">
                        <div class="row">
                            <div class="col-12"><h3>QUIENES SOMOS</h3></div>
                            <div class="col-12">
                                <p>
                                    GeekHubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros
                                    entusiastas que deciden hacer de su pasión por conocer el mundo un modo de vida.
                                    Desde nuestros inicios hemos creado mas de 500 viajes organizados a diferentes
                                    destinos de Europa, Norteamérica y Asia.Nuestro objetivo ahora es ir ampliando horizontes
                                    poco a poco.
                                </p>
                            </div>
                            <div class="col-12 d-flex justify-content-center"><button type="button" class="btn btn-warning  ">Ver destinos</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--code...-->
</section>


<section id="sec-contacto" class="d-none d-sm-block contact full-page">
    <div class="">
        <div class="row contact-row my-auto">
            <!-- En esta seccion dispondremos del mapa con la ubicación de la empresa, información de su horario
            y el formulario a rellenar para contarctar con dicha empresa -->
            <!-- ************* MAPA ************* -->
            <div class="col-md-6  contenedor-mapa d-flex justify-content-end">
                <div class="col-md-10  d-flex justify-content-end my-map my-auto">
                    <iframe class="my-map my-auto"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.450235040021!2d-0.35812868463229974!3d39.48174697948477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1542038355935"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            <!-- ********** FORMULARIO*********** -->
            <div class=" col-md-6  contenedor-formulario d-flex justify-content-left">
                <div class="my-formulario my-auto">
                    <p>E: enquiry@artiotravel.com<br>P: 0264 123 4567</p>
                    <p>
                        Llamenos o visitenos en cualquier momento, nos esforzamos por responder a todos
                        Consultas dentro de las 24 horas del dia habil.
                    </p>
                    <p>Abrimos de  8.30 AM - 4.00 PM todos los dias de la semana.</p>

                    <!-- Separador azul -->
                    <div class="col-1 separador-contact">
                        <hr class="hr-contact" />
                    </div>

                    <form class="form-management" action="">

                        <div class="form-group">
                            <div class="contact-fields col-md-12">
                                <div class="row">
                                    <div class="form-left col-md-6">
                                        <input type="text" class="form-control" id="name"
                                               placeholder="Name*">
                                    </div>
                                    <div class="form-right col-md-6">
                                        <input type="email" class="form-control" id="email"
                                               aria-describedby="emailHelp"
                                               placeholder="Email*">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="contact-fields col-md-12">
                                <div class="row">
                                    <div class="form-left col-md-6">
                                        <input type="number" class="form-control" id="phone"
                                               placeholder="Phone">
                                    </div>
                                    <div class="form-right col-md-6">
                                        <input type="text" class="form-control" id="country"
                                               placeholder="Country">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-message">
                            <textarea class="form-control" id="message" placeholder="Message" rows="5"></textarea>
                        </div>
                        <div class="form-condition col-md-12">
                            <span>* PLEASE COMPLETE ALL FIELDS CORRECTLY</span>
                        </div>
                        <button type="submit" class="btn btn-warning btnform">Enviar mensaje</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>


